body {
    display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh; 
  background: url('image copy.png') no-repeat ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
}
.re {
  position: absolute;   
  top: 20px;
  left: 20px;
}

.re a {
  text-decoration: none;
  color: black;
  font-size: 40px;
}


.re a:hover {
  color: rgb(205, 165, 109);
}

.Review {
  background-color: white;
  padding: 70px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
  width: 500px;
  height: 800px;
  text-align: center;
}

.Review h1 {
  color: #2e8b57;
}

.Review input {
  width: 100%;
  padding: 20px;
  margin: 9px -10px ;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 20px;
  
}
.Review label{
    display: block;
    text-align: left;
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: -20px;
}

.radio{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 15px;
  margin-top: 20px;
  padding-left: 18px;
}
.radio label {
  font-size: 22px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px; 
  margin: -0.2px;
  
}

.Review button{
    font-size: 24px;
    background-color: rgb(134, 203, 255);

}
.Review button:hover{
  background-color: rgb(223, 189, 141);
}
@media (max-width: 600px) {
  .Review {
    padding: 30px;
    font-size: 16px;
  }
  .Review input {
    font-size: 16px;
    padding: 12px;
  }
}
