body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('image copy.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.re {
  position: absolute;
  top: 10px;
  left: 20px;
}

.re a {
  text-decoration: none;
  color: black;
  font-size: 40px;
}


.re a:hover {
  color: rgb(205, 165, 109);
}

.Review {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: auto;
  margin: 20px;
}

.Review h1,
.Review h3 {
  text-align: center;
}

.Review input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.Review label {
  display: block;
  text-align: left;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 10px;
}

.mood {
  text-align: left;
  font-size: 22px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}

.radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
  margin-top: 15px;
  width: 100%;
}

.radio label {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Review button {
  width: 100%;
  margin-top: 25px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(134, 203, 255);
  cursor: pointer;
}

.Review button:hover {
  background-color: rgb(223, 189, 141);
}

@media (max-width: 600px) {
  .Review {
    padding: 30px;
    font-size: 16px;
  }

  .Review input {
    font-size: 16px;
    padding: 12px;
  }
}