* {
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 200px;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: black;
  width: 350px;
  padding: 40px;
  text-align: center;
  height: auto;
  position: relative;
}

.login-box h2 {
  color: #268850;

}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 11px;
}

.login-box a {
  color: #43b574;
  text-decoration: none;
  font-size: 15px;
  height: 100px;
  text-align: center;

}

.login-box h1 {
  color: #2e8b57;
}

.box button:hover {
  background-color: rgb(223, 189, 141);
  color: white;

}

.medicine-icon {
  position: absolute;
  top: -50px;
  right: 370px;
  font-size: 80px;
}

.social-icons img {
  width: 250px;
  height: 70px;

}

.home-page {

}

.left-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  color: white;
}

.right-nav h4 {
  margin: 0;
  cursor: pointer;
}

.left-nav img {
  width: 50px;
}

.header {
  flex-wrap: wrap;
  background-color: rgb(138, 185, 186);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-radius: 60px;
  margin: 20px;
}

.right-nav button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 50px 30px 50px 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top-main {
  flex-wrap: wrap;
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 20px;
  background-color: rgb(138, 185, 186);
  padding: 30px;
  border-radius: 20px;
}

.left-main {
  width: 500px;
}

.left-main h1 {
  font-size: 50px;
}

.left-main h3 {
  font-size: 20px;
}

.left-main button {
  padding: 15px 30px;
  background-color: white;
  border-radius: 30px;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  margin-top: 40px;
}

.left-main button img {
  width: 20px;
}

.right-main img {
  width: 400px;
  border-radius: 20px;
}

.bottom-main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 30px 0;
  margin-top: 40px;

}

.bottom-main img {
  width: 80px;
  border: 1.5px solid rgb(138, 185, 186);
  padding: 10px;
  border-radius: 5px;
}

.departaments h1, p{
  display: flex;
  justify-content: center;
}

.departaments{
  margin-top: 80px;
}

.text{
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
}

.footer{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(138, 185, 186);
  border-radius: 20px;
  margin: 50px 30px 50px 30px;
}

.footer p{
  margin: 10px;
}

.s-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.s-right-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.s-right-nav button {
  padding: 8px 15px;
  background-color: rgb(173, 199, 199);
  border: none;
  border-radius: 20px;
}

.s-right-nav button a {
  text-decoration: none;
  color: black;
}

.s-header {
  background-color: rgb(173, 199, 199);
  padding: 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.s-left-header h1 {
  font-size: 50px;
  padding-bottom: 20px;

}

.s-left-header h4 {
  width: 500px;
}

.s-right-header img {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05)
}


.s-1 button {
  padding: 8px 15px;
  background-color: rgb(173, 199, 199);
  border: none;
  border-radius: 5px;
}

.s-1 button a {
  text-decoration: none;
  color: black;
}

.s-main1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.s-1 {
  border: 1px solid #000;
  padding: 20px;
  flex: 0 0 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  min-height: 250px;
}

.s-1 button:hover {
  background-color: rgb(197, 189, 177);
}

hr {
  border: solid 1px;
}
